:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#calculator-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#equals {
  width: calc(20% * 3);
}

#display {
  width: 88%;
  height: 24px;
  border-radius: 8px;
  background-color: #1a1a1a;
  padding: 20px;
  margin: 5px;
}

#first-row {
  width: 100%;
}

#first-row button {
  width: 20%;
}

input {
  width: 88%;
  border-radius: 8px;
  background-color: #1a1a1a;
  padding: 20px;
  margin: 5px;
  border: none;
  text-align: right;
  font-size: 16px;
}

section {
  display: flex;
}

section:last-child {
  width: 100%;
}


button {
  margin: 5px;
  width: 75px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.current {
  background: linear-gradient(90deg, #0063ed, 45%, #90ffe5);
  background-repeat: no-repeat;
  color: rgb(8, 0, 123);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
